@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Epilogue", sans-serif;
    color: hsl(0, 0%, 8%);
}

p,a{
    color: hsl(0, 0%, 41%);
}

p{
    font-size: 18px;
}

.outlined-btn{
@apply border-2 py-2 px-6 rounded-lg cursor-pointer font-semibold;
}