@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Epilogue", sans-serif;
    color: hsl(0, 0%, 8%);
}

p,a{
    color: hsl(0, 0%, 41%);
}

.outlined-btn{
@apply border-2 px-3 py-1 rounded-lg;
}